body{
  padding-top: 70px;
}
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif!important;
    background-color: #FAFAD2;
}

.navbar-nav li{
    padding-left: .7rem;
  }
  
  .navbar-light .navbar-nav .nav-link{
    padding-top: .8rem;
  }
  .navbar-light .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link {
    color: #ff0000!important;
    font-weight: 600;
  }
  .navbar-brand
  {
    text-transform: uppercase;
    color: #ff0000!important;
    font-weight: 700;
    font-size: 1em;
  }
  .navbar-brand span{
    color: #ff0000!important;
  }
  i
  {
    padding-right: 10px;
  }

  h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.9rem;
  }
  
  .heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #ff0157;
    margin: 0 auto 2rem;
  }
  .jumbotron-container{
    margin-bottom: 0;
    padding-bottom: 2px!important;
  }

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.row .col50 .imgbx
{
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgbx img
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}

span{
  margin-right: 10px;
  color: #ff0157;
  font-weight: 700;
}

#hotel
{
  background-image: linear-gradient(#f5f7fa,#c3cfe2);
}
.container{
  padding-top: 20px;
  background-size: cover!important;
}
form{
  margin: auto;
  width : 100%;
}

.form-group{
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}