form{
    margin: auto;
    width : 100%;
  }
  
  .form-group{
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }
  section
{

  background: linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.3)),url(../img/gate.jpg) no-repeat center center fixed;
  background-size: cover;
}